*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-image: url("./assets/back-converter.jpg"); // ✅ Mets le bon chemin
    background-size: cover; // Couvre toute la zone sans être coupée
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; // ✅ Garde l'image fixe même en scrollant
    height: 100vh; // Prend toute la hauteur de la fenêtre
    width: 100%;
    padding: 100px 0;
    
  }
.container-converter{
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    background-size: cover; // Empêche le recadrage de l'image
    background-repeat: repeat; // Empêche la répétition
    background-position: center center; // Centre l'image
    background-attachment: fixed;
    overflow: auto;
    h2{
        background: rgba(0, 0, 0, 0.8);
        width: fit-content;
        padding: 10px;
    }
    .container-form-download{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 900px;
        position: absolute;
        top: 0;
        width: 100%;
    form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        height: 850px;
        div{
        background: rgba(0, 0, 0, 0.8);
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        border-radius: 15px;
        padding: 15px;
            label{
                display: flex;
                flex-direction: column;
            }
        }
        }
    }
}
.converted-files{
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
    position: absolute;
    ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px 0;
        li{
            list-style: none;
        }
    }
}
button{
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    transition: all ease 0.3s;
    &:hover{
        background-color: black;
        color: white;
        cursor: pointer;
        transition: all ease 0.3s;
    }
}
label{
    transition: all ease-in-out 0.3s;
    &:hover{
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        color: grey;
    }
}
textarea{
    max-width: 100%;
    &:hover{
        outline: 2px solid red;
        cursor: pointer;
    }
}

@media(max-width: 768px){
    .container-converter form div{
        width: 75%;
    }
}
@media(max-width: 659px){
    .container-converter .container-form-download form div, .converted-files{
        width: 75%;
    }
}
@media(max-width: 515px){
    .container-converter form div{
        width: 95%;
    }
    .container-converter h2{
        font-size: 25px;
    }
    form div h3 {
        font-size: 22px;
    }
    form div label{
        font-size: 18px;
    }
}